<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <ThresholdFilter level="debug" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout>
                <Charset>UTF-8</Charset>
                <Pattern>%d %F:%L [%X{requestURIWithQueryString}] %-5p %t %c{7} - %m%n</Pattern>
            </PatternLayout>
        </Console>

        <RollingFile name="PROJECT" fileName="logs/app.log"
                     filePattern="logs/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
            <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout>
                <Charset>UTF-8</Charset>
                <Pattern>%d %F:%L [%X{requestURIWithQueryString}] %-5p %t %c{7} - %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>

        <RollingFile name="ACCESS" fileName="logs/app_access.log"
                     filePattern="${app_home}/logs/access/access_%d{yyyyMMddHH}.%i.log.zip">
            <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout>
                <Charset>UTF-8</Charset>
                <Pattern>%d %F:%L [%X{requestURIWithQueryString}] %-5p %t %c{7} - %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>

        <RollingFile name="SERVICE" fileName="logs/app_service.log"
                     filePattern="${app_home}/logs/service/service_%d{yyyyMMddHH}.%i.log.zip">
            <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout>
                <Charset>UTF-8</Charset>
                <Pattern>%d %F:%L [%X{requestURIWithQueryString}] %-5p %t %c{7} - %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>

        <RollingFile name="ASPECT" fileName="logs/app_aspect.log"
                     filePattern="${app_home}/logs/aspect/aspect_%d{yyyyMMddHH}.%i.log.zip">
            <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout>
                <Charset>UTF-8</Charset>
                <Pattern>%d %F:%L [%X{requestURIWithQueryString}] %-5p %t %c{7} - %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>

        <RollingFile name="PROJECT_ERROR" fileName="logs/app_error.log"
                     filePattern="{app.home}/logs/error/error-%d{yyyyMMddHH}.log">
            <ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout>
                <Charset>UTF-8</Charset>
                <Pattern>%d %F:%L [%X{requestURIWithQueryString}] %-5p %t %c{7} - %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>

        <RollingFile name="ASPECT_ERROR" fileName="logs/app_error.log"
                     filePattern="{app.home}/logs/error/aspect/error_%d{yyyyMMddHH}.log">
            <ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout>
                <Charset>UTF-8</Charset>
                <Pattern>%d %F:%L [%X{requestURIWithQueryString}] %-5p %t %c{7} - %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <root level="info">
            <appender-ref ref="STDOUT"/>
            <appender-ref ref="PROJECT"/>
            <appender-ref ref="PROJECT_ERROR"/>
        </root>
    </Loggers>
</Configuration>